{% extends "base.html" %}

{% block title %} Add Note {% endblock %}

{% block content %}
<form method="POST">
    <div class="mb-3">
        <textarea name="text" id="text" class="form-control"></textarea>
    </div>
    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" value="true" id="isPublic" name="is_public">
        <label class="form-check-label" for="isPublic">
            is public
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Add Note</button>
</form>
{% endblock %}